@model Installer_PM_Comms.ViewModels.JobViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Job</h1>

<hr />
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="JobName" class="control-label"></label>
                            <input asp-for="JobName" class="form-control" />
                            <span asp-validation-for="JobName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="JobNumber" class="control-label"></label>
                            <input asp-for="JobNumber" class="form-control" />
                            <span asp-validation-for="JobNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <select asp-for="ClientId" asp-items="@(new SelectList(Model.Clients,"Id", "CompanyName"))">
                        <option>Choose a Contractor</option>
                        <option>Contractor not Listed</option>
                    </select>
                <select asp-for="InstallerId" asp-items="@(new SelectList(Model.Installers,"Id", "Name"))">
                        <option>Choose an Installer</option>>
                    </select>
                </div>
                <div class=" row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="InstallDate" class="control-label"></label>
                            <input asp-for="InstallDate" class="form-control" />
                            <span asp-validation-for="InstallDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Blueprints" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Blueprints" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Blueprints" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
